alembic==1.9.4
charset-normalizer==3.0.1
cmaes==0.9.1
colorlog==6.7.0
docopt==0.6.2
greenlet==2.0.2
idna==3.4
Mako==1.2.4
MarkupSafe==2.1.2
numpy==1.24.2
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
optuna==3.1.0
packaging==23.0
pipreqs==0.4.11
PyYAML==6.0
requests==2.28.2
SQLAlchemy==2.0.4
torch==1.13.1
tqdm==4.64.1
typing_extensions==4.5.0
urllib3==1.26.14
yarg==0.1.9
